JAVA_HOME=/home/alpha7/.jdks/ms-25.0.3

# Render PostgreSQL
DB_URL=jdbc:postgresql://dpg-d89mem19rddc739e7t9g-a.oregon-postgres.render.com/lumyra_dev?sslmode=require
DB_USER=admin
DB_PASSWORD=

# Generate with: openssl rand -base64 32
JWT_SECRET=

JWT_EXPIRATION_MS=86400000
SPRING_PROFILE=dev
PORT=8080
